.order-most {
    background-color: #1F1D2B;
    margin-top: 24px;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;

    .most-order {
        border-bottom: 1px solid #393C49;
        padding-bottom: 18px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        h1 {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          color: #FFFFFF;
        }
        select {
          background: #1F1D2B;
          border: 1px solid #393C49;
          box-sizing: border-box;
          border-radius: 8px;
          color: white;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          padding: 14px;
          outline: none;
        }
    }
    .rounding {
        display: flex;
        align-items: center;

        img {
            width: 150px;
            height: 150px;
            margin-right: 20px;
        }

        .customers {

            .span {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                span {
                    width: 20px;
                    height: 20px;
                    background: #FF7CA3;    
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 12px;
                }
                .title {
                    h4 {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 130%;
                        color: #FFFFFF;
                    }
                    p {
                        font-size: 12px;
                        line-height: 140%;
                        color: #ABBBC2;
                    }
                }
                .span2 {
                    background-color: #FFB572;
                }
                .span3 {
                    background-color: #65B0F6;
                }
            }
        }
    }
}